body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}


h2 {
    font-size: 40px;
}

.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 8%;
}

.half-width img {
    width: 80%;
    border-radius: 200px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack {
    border-left: 5px solid yellow;
}

#baby-stack {
    border-left: 5px solid green;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 10px;
}

footer {
    text-align: center;
}